* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #e8ebee;
}

body::before {
  content: 'Neumorphism Sample';
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #252730;
  font-size: 28px;
  font-weight: 300;
}

body::after {
  content: '© 2020, Skyler Seo';
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #252730;
  font-size: 12px;
  font-weight: 500;
}

div {
  margin: 30px;
}

.neumorphism-square-1 {
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #b5b7ba,
    -15px -15px 30px #ffffff;
}

.neumorphism-square-2 {
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 30px;
  box-shadow: inset 15px 15px 30px #c1c3c6,
    inset -15px -15px 30px #ffffff;
}

.neumorphism-square-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #b5b7ba,
    -15px -15px 30px #ffffff;
}

.neumorphism-square-3::after {
  content: '';
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: inset 15px 15px 30px #ced1d4,
    inset -15px -15px 30px #ffffff;
}

.neumorphism-circle-1 {
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 50%;
  box-shadow: 15px 15px 30px #b5b7ba,
    -15px -15px 30px #ffffff;
}

.neumorphism-circle-2 {
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 50%;
  box-shadow: inset 15px 15px 30px #c1c3c6,
    inset -15px -15px 30px #ffffff;
}

.neumorphism-circle-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #e8ebee;
  border-radius: 50%;
  box-shadow: 15px 15px 30px #b5b7ba,
    -15px -15px 30px #ffffff;
}

.neumorphism-circle-3::after {
  content: '';
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 15px 15px 30px #ced1d4,
    inset -15px -15px 30px #ffffff;
}